@import url("reset.css");
[class*="__container"]{
    max-width: 1900px;
    margin: 0 auto;
}
/*------------------Bg-----------------*/
.main__background {
    
   
}
.background {
 
  
   
    
}
.background__blue {
    border-radius: 80px 80px 0 0;
    background: rgb(36, 156, 248);
    height: 250px;
    border-bottom: 4px solid #111;
    
}
.background__green {
    background: rgb(13, 184, 13);
    height: 200px;
    border-bottom: 4px solid #111;
}
.background__gray {
    background: gray;
    height: 400px;
    position: relative;
    border-bottom: 4px solid #111;
    border-radius: 0 0  80px 80px;
}
.line-1{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 400px;
}
.line-2{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 800px;
    height: 20px;
    width: 400px;
}
.line-3{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 1600px;
    height: 20px;
    width: 400px;
}
/*----------------------DOWN OF THE CAR---------------------------*/

.car {
    position: absolute;
    top: 500px;
    left: 500px;
}

.car__side {
    position: absolute;
    width: 350px;
    height: 100px;
background: linear-gradient(180deg, #EE389A 0.77%, #D12BCA 22.43%);
transform:  rotate(11deg) translate(10px, 0px) skew(-54deg, -12deg);
z-index: 1;
border: 3px solid #551853;box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.car__dekor {
    background: url("../img/firer.svg");
    position: absolute;
    top: -50px;
    z-index: 3;
    left: 170px;
    transform: rotate(87.141deg);
min-width: 36px;
height: 199px;


}
.car__window {
    position: absolute;
    left: 105px;
    height: 20px;
    width: 10px;
    background: #9498E4;
    transform: skew(112deg);
}
.car__light {
}
.light {
    transform: rotateX(178deg);
    transform: rotateY(178deg);
    position: absolute;
    top: 30px;
    left: 0;
    width: 20px;
height: 30px;
border-radius: 17.544px 0px 0px 0px;
border: 3px solid #551853;

background: #D12CCB;
}
.light__lines {
    position: relative;
}
.line {
    position: absolute;
    transform: rotate(336deg) skew(96deg);
    top: -10px;
    left:40px;
    width: 30px;
    height: 3px;
    background: #F9F2CD;
}
.line:nth-child(2) {
    position: absolute;
    transform: rotate(180deg) skew(96deg);
    top: 10px;
    left:40px;
    width: 30px;
    height: 3px;
    background: #F9F2CD;
}
.line:nth-child(3) {
    position: absolute;
    transform: rotate(206deg) skew(96deg);
    top: 30px;
    left:40px;
    width: 30px;
    height: 3px;
    background: #F9F2CD;
}
.car__wheels {position: relative;
}
.car__small-wheel {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 40px;
height: 40px;
background: #5F5D5D;
border: 3px solid #080808;
border-radius: 50%;
z-index: 5;

}
.center-small {
    width: 12px;
height: 12px;
background: #000;
border-radius: 50%;
top: 35%;
position: absolute;
left: 35%;
}
.center-big {
    width: 15px;
height: 15px;
background: #000;
border-radius: 50%;
top: 35%;
position: absolute;
left: 35%;
}
.car__big-wheel {
    position: absolute;
    top: 50px;
    left: 180px;
    width: 60px;
height: 60px;
background: #5F5D5D;
border: 3px solid #080808;
border-radius: 50%;
z-index: 5;
}
.car__steering-wheel {
    transform: translate(110px, 10px) rotate(29deg) skew(343deg);
    width: 3px;
    height: 24px;
    background: #464343;
    }
.car__sit {
    transform: translate(180px, -25px) rotate(14.661deg);
    width: 10.746px;
height: 26.453px;
border-radius: 16.533px 8.266px 0px 0px;
border: 3px solid rgba(0, 0, 0, 0.50);
background: #A69E9E;
}
.car__line {
    width: 5px;
height: 37px;
background: #555050;
border: 1px solid #000;
transform: translate(350px, -68px) rotate(38deg);
}



.car__spoiler {
    width: 71px;
height: 10px;
background: #888181;
border: 3px solid rgba(0, 0, 0, 0.50);
transform: translate(330px, -110px) rotate(175.918deg);
}
.car__pipe {
    width: 19px;
    height: 4px;
    flex-shrink: 0;
    background: #888181;
    border: 3px solid rgba(0, 0, 0, 0.50);
    transform: translate(313px, -30px) rotate(175.918deg);
}
.car__smoke {
    position: relative;
}
.smoke__small {
    transform:translate(345px, -35px) rotate(175deg);
border-radius: 40%;
background: #F1F1F1;
border: 0.5px solid #E8E6E6;
width: 20px;
height: 8px;box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.smoke__middle {
    width: 30.065px;
height: 10.871px;
transform:translate(365px, -50px) rotate(175deg);
border-radius: 40%;
background: #F1F1F1;
border: 0.5px solid #E8E6E6;box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.smoke__big {

    width: 50.347px;
height: 18.205px;
transform: translate(390px, -75px) rotate(174deg);
border-radius: 40%;
background: #F1F1F1;
border: 0.5px solid #E8E6E6;
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);}