@import url("reset.css");
.wrapper{
    min-height: 100%;
	overflow: clip;
	padding: 50px;
}
[class*="__container"]{
    max-width:  1220px; 
    margin:0 auto;
}

   
    .header {
    }
    .main {
    }
    .main__container {
    }
    .block {
        width: 300px;
        height: 300px;
        background: #000;
        transition-duration: 0.5s, 1s,0.5s; 
        transition-property: width, height, background; 
        transition-delay: 0s, 0.5s, 1.5s;
    }
    .block:hover{
        width: 500px; 
        height: 500px;
        background: #eb5858;
    }
    /**********************Анимация для ссылки от центра подчеркивание**************************************/
    .link{
        padding-top: 50px;
        color: yellowgreen;
        transition: all 0.3s;
    }
    .link::after{
        content: "";
        background-color: #000;
        width: 0px;
        height: 2px;
        display: block;
        position: relative;
        top: 5px;
        left: 50%;
        transition: all 0.3s;
    }
        .link:hover::after{
            width: 100px;
            left: 0;  
        }
        .link:hover{
            color: #000;
        }
        .block-2 {
            width: 300px;
            height: 300px;
            background: #991313;
            animation-name: rotate;
            animation-duration: 1s;
            animation-iteration-count: infinite;
                }
@keyframes rotate{
    0%{
        transform: rotate(deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.block-2:hover{
    animation-play-state: paused;
}
    .footer {
    }
